.buscador {
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    float: left;
}

.cuadrobuscar {
    width: 23.5%;
    padding: 5px;
    background-color: #a71d21;
    border-radius: 10px;
}

.logo {
    width: 8%;
    float: right;
    margin-right: 70px;
    background-color: #a71d21;
    padding: 5px;
    border-radius: 10px;
}

.barrabuscar {
    padding: 5px;
    background-color: white;
}

#map {
    width: 100%;
    height: 100vh;
    box-shadow: 5px 5px 5px #888;
    border: solid 1px black;
    position: relative;
    z-index: 1;
}