body {
    margin: 0;
}

#mapa {
    width: 100%;
    height: 100%;
}

#buscador {
    background-color: #a71d21;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: auto;
    height: auto;
    padding: 10px;
}

#buscador input {
    width: 200px;
}

#resultado {
    font-style: sans-serif;
    color: black;
    font-size: 75%;
}
/*NO SE ESTA UTILIZANDO, ESTA COMENTADO EN EL INDEX*/
.logo {
    width: 8%;
    float: right;
    margin-right: 70px;
    background-color: #a71d21;
    padding: 5px;
    border-radius: 10px;
}

